<div class="col-12">
    <div class="row col-12">
        <div class="col-6">
            <h3>Period of profits</h3>
        </div>
        <div class="col-6 d-flex justify-content-end">
            <button class="btn btn-primary" onclick="DecreaseYear()"><</button>
            <h2 id="currYear" class="ml-4 mr-4"></h2>
            <button class="btn btn-primary" onclick="IncreaseYear()">></button>
        </div>
    </div>
    <hr />
    <div class="col-12">
        <canvas id="profitChart" style="max-height: 700px"></canvas>
    </div>
</div>

<input type="hidden" id="getVendorChartDataUrl" value="@Url.Action("GetVendorChartData", "Admin")" />

@section Scripts{
    <script src="~/js/VendorProfits.js" asp-append-version="true"></script>
}