html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  height: 100%;
}
.bg-dark {
    background-color: #212529 !important;
}
.hover-grey:hover {
    background-color: #404040;
}
#wrapper {
    min-height: 100%;
    margin-bottom: -75px;
}

#seperator, #footer {
    height: 75px;
}